/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Righteous&display=swap');

/* header font */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Righteous', sans-serif;
    font-weight: 400;
}

/* p font */
p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

/* list font */
ul {
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

/* navigation bar*/
.topnav {
    background-color: #f3f3f3;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #222;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Portfolio */
.portfolio-img {
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.school{
    font-size: 20px;
    font-weight: 400;
}